.body_backgorund {
    background-image: src("Screenshot 2024-03-07 085908.png");
    background-position: center;
    background-size: cover;
    }

#myCanvas
{

	background-color: yellow; 
	border-style:ridge;}

    h1{
color:darkblue;

    }
.save{
height: 30px;
width: 60px;
}